<div id="account-page-main-block" class="account-page-main-container">
  <div class="account-main-block">
    <div class="upper-side">
      <div class="left-side">
        <div class="welcome-container">
          <div class="hello">
            HELLO, {{ customer.first_name }}
          </div>
          <div class="title">
            My Account
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="menu">
          <div id="info-show-button" class="account-page-tab-selector menu-item active">
            ACCOUNT DETAIL
          </div>
          <div id="orders-show-button" class="account-page-tab-selector menu-item">
            ORDER HISTORY
          </div>
        </div>
        <div class="menu-mobile">
          <div id="account-tab-select" class="menu-select">
            <div id="account-tab-selected-panel">ACCOUNT DETAIL</div>
            <div class="arrow-icon-container">
              <img class="down-arrow-icon">
            </div>
          </div>
          <div id="account-tab-select-list" class="menu-select-list">
            <div id="account-info-list-item" class="list-item">ACCOUNT DETAIL</div>
            <div id="account-orders-list-item" class="list-item">ORDER HISTORY</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-side">
      <div class="left-side">
        <div class="account-info-container">
          <div class="title">
            Account Information
          </div>
          <div class="info">
            <div class="info-item street">
              <span class="street">{{ customer.default_address.address1 }}</span>
            </div>
            <div class="info-item state">
              <span class="city">{{ customer.default_address.city }},</span><span class="province">{{ customer.default_address.province }}</span>
            </div>
            <div class="info-item zip">
              <span class="zip">{{ customer.default_address.zip }}</span>
            </div>
            <div class="info-item phone">
              {{ customer.default_address.phone }}
            </div>
          </div>
          <div class="edit">
            Edit
          </div>
        </div>
      </div>
      <div class="right-side">
        <div id="info-tab-block" data-id="{{ customer.id }}" class="account-page-tab-container active">
          <div class="account-details">
            <div class="title">ACCOUNT DETAIL</div>
            <div class="info-field name-row">
              <div class="label">
                Name
              </div>
              <div class="field-data">
                <div id="first-name-display-container" class="display-container active">
                    {{ customer.first_name }}
                </div>
                <div id="first-name-input-container" class="input-container">
                  <input type="text" value="{{ customer.first_name }}">
                </div>
              </div>
              <div id="fist-name-edit-button" class="edit active">
                edit
              </div>
              <div id="fist-name-save-button" class="edit">
                save
              </div>
            </div>
            <div class="info-field mail-row">
              <div class="label">
                Email
              </div>
              <div class="field-data">
                <div id="first-email-display-container" class="display-container active">
                    {{ customer.email }}
                </div>
                <div id="first-email-input-container" class="input-container">
                  <input type="text" value="{{ customer.email }}">
                </div>
              </div>
              <div id="fist-email-edit-button" class="edit active">
                edit
              </div>
              <div id="fist-email-save-button" class="edit">
                save
              </div>
            </div>
          </div>
          <div class="addresses-list">
            <div class="header-panel">
              <div class="title">
                YOUR ADDRESS
              </div>
              <div class="new-address" id="new-address-button">
                ADD A NEW ADDRESS
              </div>
            </div>
            <div class="list-container">
              {% for address in customer.addresses %}
                <div class="address-row">
                  <div class="label">
                    Address {{ forloop.index }}
                  </div>
                  <div class="field-data">
                    <span class="address-span">{{ address.address1 }},</span><span class="city-span">{{ address.city }}, {{ address.province }},</span><span class="zip-span"> {{ address.zip }}</span><span class="phone"> {{ address.phone }}</span>
                  </div>
                  <div class="delete">
                    delete
                  </div>
                  <div class="edit">
                    edit
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div id="orders-tab-block" class="account-page-tab-container">
          <div class="orders-block">
            <div class="title">
              ORDER HISTORY
            </div>
            <div class="orders-table">
              <div class="orders-row header-row">
                <div class="col first-col">
                  ORDER #
                </div>
                <div class="col second-col">
                  ORDER DATE
                </div>
                <div class="col third-col">
                  TOTAL
                </div>
                <div class="col fourth-col">
                  TRACKING #
                </div>
                <div class="col fifth-col">
                  ORDER STATUS
                </div>
                <div class="sixth-col"></div>
              </div>
              {% for order in customer.orders %}
                <div class="orders-row">
                  <div class="col first-col">
                    {{ order.order_number }}
                  </div>
                  <div class="col second-col">
                    {{ order.created_at | date: "%b %d, %Y" }}
                  </div>
                  <div class="col third-col">
                    <span>{{ order.total_price | money }}</span> CAD
                  </div>
                  <div class="col fourth-col">
                   -
                  </div>
                  <div class="col fifth-col">
                    {{ order.fulfillment_status_label }}
                  </div>
                  <div class="col sixth-col">
                      <div class="reorder">
                        <a href="{{ order.customer_url }}">
                          DETAILS
                        </a>
                      </div>
                  </div>
                </div>
                <div id="{{ order.order_number }}-orders-mobile-row-block" class="orders-row-mobile">
                  <div class="main-part">
                    <div class="top-line">
                      <div class="title">ORDER #</div>
                      <div id="{{ order.order_number }}-orders-mobile-button" class="orders-mobile-button open-button"><span data-id="{{ order.order_number }}" class="plus active">+</span><span data-id="{{ order.order_number }}" class="minus">-</span></div>
                    </div>
                    <div class="bottom-line">
                      <div class="order-number">
                          {{ order.order_number }}
                      </div>
                    </div>
                  </div>
                  <div class="additional-info-block">
                    <div class="info-row">
                      <div class="title">
                        ORDER DATE
                      </div>
                      <div class="value">
                        {{ order.created_at | date: "%b %d, %Y" }}
                      </div>
                    </div>
                    <div class="info-row">
                      <div class="title">
                        TOTAL
                      </div>
                      <div class="value">
                        {{ order.total_price | money }}
                      </div>
                    </div>
                    <div class="info-row">
                      <div class="title">
                        TRACKING #
                      </div>
                      <div class="value">
                        -
                      </div>
                    </div>
                    <div class="info-row">
                      <div class="title">
                        ORDER STATUS
                      </div>
                      <div class="value">
                          {{ order.fulfillment_status_label }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div id="address-tab-block" class="account-page-tab-container">
          <div class="address-edit-block">
            <div class="title">
              ADD A NEW ADDRESS
            </div>
            <div class="edit-form">
              {% form 'customer_address', customer.new_address %}
                <div class="input-item left">
                  <input placeholder="Address 1" id="new-address-address-1" name="address[address1]">
                </div>
                <div class="input-item">
                  <input placeholder="Address 2" id="new-address-address-2" name="address[address2]">
                </div>
                <div class="input-item left">
                  <input placeholder="City" id="new-address-city" name="address[city]">
                </div>
                <div class="input-item">
                  <select id="new-address-country" title="country" name="address[country]">{{ country_option_tags }}</select>
                </div>
                <div id="new-address-province-container" class="input-item full">
                  <select id="new-address-province" title='province' name="address[province]"></select>
                </div>
                <div class="input-item left">
                  <input placeholder="Postal Code" id="new-address-zip" name="address[zip]">
                </div>
                <div class="input-item ">
                  <input placeholder="Phone Number" id="new-address-phone" name="address[phone]">
                </div>

                <div class="new-address-button-container">
                  <div class="default-setting-container">
                    <input title="set as default" id="new-address-default-checkbox" type="checkbox" name="address[default]">
                    <span>Set as default address</span>
                  </div>
                  <button id="new-address-default-button" type="submit" class="new-address-button">
                    ADD ADDRESS
                  </button>
                </div>
                {% endform %}
            </div>
          </div>
        </div>
        <div class="footer-spacer"></div>
      </div>
    </div>
  </div>
</div>