<div id="login-page-panel" class="login-page-main-container">
  <div class="inner-login-container">

    <div class="left-side">
      <div class="login-block-container">

        <div class="note form-success hide" id="ResetSuccess">
          {{ 'customer.recover_password.success' | t }}
        </div>

        <div id="CustomerLoginForm" class="form-vertical login-form-container">
          {% form 'customer_login' %}

          <div class="login-title">Log In</div>

          {{ form.errors | default_errors }}

          <input type="email" name="customer[email]" id="CustomerEmail" placeholder="Email" class="login-input-mail {% if form.errors contains 'email' %} input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>

          {% if form.password_needed %}
            <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="Password" class="login-input-pass {% if form.errors contains 'password' %} input--error{% endif %}">
          {% endif %}

          <div class="text-center login-action-block">
            {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}

            <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
          </div>

          {% endform %}
        </div>

        <div id="RecoverPasswordForm" class="hide reset-container">


          <div class="reset-title">Reset Your Password</div>


          <div class="form-vertical">
            {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <input type="email" value="" name="email" id="RecoverEmail" placeholder="Email" class="input-full reset-input-mail" autocorrect="off" autocapitalize="off">

            <div class="text-center reset-action-block">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
            </div>
            {% endform %}
          </div>

        </div>

      </div>
    </div>

    <div class="right-side">
      <div class="register-block-container">

        <div class="form-vertical register-form-container">
          {% form 'create_customer' %}

          {{ form.errors | default_errors }}

          <div class="register-title">Create Account</div>

          <input type="email" name="customer[email]" id="Email" placeholder="Email" class="register-input {% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

          <div id="register-continue-button" class="register-continue-button">
            CONTINUE
          </div>

          <div id="register-hidden-block" class="register-hidden-block">
            <input type="password" name="customer[password]" id="CreatePassword" placeholder="Password" class="register-input {% if form.errors contains 'password' %} input--error{% endif %}">

            <input type="text" name="customer[first_name]" id="FirstName" placeholder="First Name" class="register-input" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

            <input type="text" name="customer[last_name]" id="LastName" placeholder="Last Name" class="register-input" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>


            <p class="text-center">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn register-button-submit">
            </p>
          </div>


          {% endform %}
        </div>

      </div>
    </div>

  </div>
</div>

