<div id="order-info-page-panel" class="order-info-main-container">
  <div class="order-info-block">
    <div class="upper-side">
      <div class="left-side">
        <div class="welcome-container">
          <div class="title">
            Order #{{ order.order_number }}
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="menu">
          <div class="menu-item">
            {{ order.created_at | date: "%b %d, %Y %H:%M %P" }}
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-side">
      <div class="left-side">
        <div class="return-to-orders">
          <a href="/account">
            Return to order history
          </a>
        </div>
        <div class="account-info-container">
          <div class="title">
            Account Information
          </div>
          <div class="info">
            <div class="info-item">
              {{ customer.first_name }}  {{ customer.last_name }}
            </div>
            <div class="info-item street">
              <span class="street">{{ customer.default_address.address1 }}</span>
            </div>
            <div class="info-item state">
              <span class="city">{{ customer.default_address.city }},</span><span class="province">{{ customer.default_address.province }}</span>
            </div>
            <div class="info-item zip">
              <span class="zip">{{ customer.default_address.zip }}</span>
            </div>
            <div class="info-item phone">
              {{ customer.default_address.phone }}
            </div>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div id="orders-tab-block" class="account-page-tab-container">
          <div class="orders-block">
            <div class="orders-table">
              <div class="orders-row header-row">
                <div class="col first-col">
                  PRODUCT
                </div>
                <div class="col second-col">
                  SKU
                </div>
                <div class="col third-col">
                  QUANTITY
                </div>
                <div class="col fourth-col">
                  PRICE
                </div>
              </div>
              {% for line_item in  order.line_items %}
                <div class="orders-row">
                  <div class="col first-col">
                    {{ line_item.product.metafields.c_f.short_description }}
                  </div>
                  <div class="col second-col">
                    {{ line_item.sku }}
                  </div>
                  <div class="col third-col">
                    {{ line_item.quantity }}
                  </div>
                  <div class="col fourth-col">
                    <span>{{ line_item.price | money }}</span> CAD
                  </div>
                </div>
              {% endfor %}
              <div class="bottom-row">
                <div class="left-bottom-side">
                  <div class="first-row">
                    SUBTOTAL
                  </div>
                  <div class="second-row">
                    TAXES(13%)
                  </div>
                  <div class="third-row">
                    SHIPPING
                  </div>
                </div>
                <div class="right-bottom-side">
                  <div class="first-row">
                    <span>{{ order.subtotal_price | money }}</span> CAD
                  </div>
                  <div class="second-row">
                    {{ order.subtotal_price | times: 0.13 | money }} CAD
                  </div>
                  <div class="third-row">
                    $0.00 CAD
                  </div>
                </div>
              </div>
              <div class="summary-row">
                <div class="left-bottom-side">
                  TOTAL
                </div>
                <div class="right-bottom-side">
                  <span>{{ order.subtotal_price | times: 1.13 | money }}</span> CAD
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>