<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">


  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->


  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {{ "shopify_common.js"  | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}


  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->



  <script src="{{ 'instafeed.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'reel.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.validate.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'additional-methods.min.js' | asset_url }}" defer="defer"></script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
  
  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = '5HQDJ';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
        g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
        o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
        d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
        ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
    })(window,document,window['_fs_namespace'],'script','user');
  </script>
</head>

<body class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      <div class="shipping-container">
        <div class="shipping">
          <div class="truck-icon">
            <img src="{{ 'shipping_icon.svg' | asset_url }}">
          </div>
          <a href="/pages/general-faq#shipping">
            <div class="info">
              FREE SHIPPING & RETURNS IN CANADA
            </div>
          </a>
        </div>
      </div>
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>

  <div class="modal-container">
    <div id="product-page-modal-panel" class="product-modal-panel">
      <div id="product-page-modal-overlay" class="modal-overlay"></div>
      <div class="info-container">
        <div id="product-page-modal-close-button" class="close-button"><img src="{{ 'close_icon.svg' | asset_url }}"></div>
        <div class="title">
          Full Ingredients List
        </div>
        <div id="modal-short-description" class="short-description">
          {% if product %}
            {{ product.metafields.c_f.short_description }}
          {% endif %}
        </div>
        <div class="center-line"></div>
        <div id="modal-ingredients-list" class="ingredients-list">
            {% if product %}
                {{ product.metafields.c_f.full_ingredients_list }}
            {% endif %}
        </div>
      </div>
    </div>
    <div id="product-page-modal-panel-review" class="product-modal-container-review">
      <div id="product-page-review-overlay" class="modal-overlay"></div>
      <div class="review-container">
        <div id="product-page-review-modal-close-button" class="close-button"><img src="{{ 'close_icon.svg' | asset_url }}"></div>
      </div>
    </div>
    <div id="subscription-modal-panel" class="subscription-modal-panel">
      <div id="subscription-modal-overlay" class="modal-overlay"></div>
      <div class="info-container">
        <div id="subscription-modal-close-button" class="close-button"><img src="{{ 'close_icon.svg' | asset_url }}"></div>
        <div class="title">
          Thanks for subscribing!
        </div>
        <div class="center-line"></div>
        <div class="ingredients-list">
          You'll be the first to know about our products, exclusive events, and special offers you won't find anywhere else.
        </div>
      </div>
    </div>
    <div id="subscription-launch-modal-panel" class="subscription-modal-panel">
      <div id="subscription-launch-modal-overlay" class="modal-overlay"></div>
      <div class="info-container">
        <div id="subscription-launch-modal-close-button" class="close-button"><img src="{{ 'close_icon.svg' | asset_url }}"></div>
        <div class="title">
          Thank You!
        </div>
        <div class="center-line"></div>
        <div class="ingredients-list">
          Please confirm your subscription in your email inbox.
        </div>
      </div>
    </div>

    <div id="sample-modal-panel" class="subscription-modal-panel">
      <div id="sample-modal-overlay" class="modal-overlay"></div>
      <div class="info-container">
        <div id="sample-modal-close-button" class="close-button"><img src="{{ 'close_icon.svg' | asset_url }}"></div>
        <div class="title">
          Thank You!
        </div>
        <div class="center-line"></div>
        <div class="ingredients-list">
          Please check your email to complete your signup.
          <div>
            Don't forget to complete all the steps and you're all set!
          </div>
        </div>
        <a href="/collections/all">
          <div class="redirect-button">
            Ok, got it
          </div>
        </a>
      </div>
    </div>

    <div id="subscription-auto-modal-panel" class="subscription-auto-modal-panel {% if customer %}disabled{% endif %}">
      <div id="subscription-auto-modal-overlay" class="modal-overlay"></div>
      <div class="info-container">
        <div id="subscription-auto-modal-close-button" class="close-button"><img src="{{ 'close_icon.svg' | asset_url }}"></div>
        <div class="title">
          Exclusive Access
        </div>
        <div class="center-line"></div>
        <div class="ingredients-list">
          Be the first to know about our products, exclusive events, and special offers you won’t find anywhere else.
        </div>
        <div class="subscribe-block">
          <form method="get" action="//voirhaircare.us16.list-manage.com/subscribe/post-json?u=a2f619ebf2c6ce998b6757251&amp;id=c8bf90b4cc&c=?" class="contact-form" id="contact-modal-auto-form" accept-charset="UTF-8">
            <div id="email" class="input-container">
              <input type="email" value="" placeholder="Email" name="EMAIL" id="EMAIL">
            </div>
          </form>
          <button id="modal-auto-submit-button" value="SUBMIT" class="button-submit">
            SIGN UP
          </button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
