<div id="cart-page-main-panel" class="cart-page-container">
  <div class="cart-list-container">
    <div class="cart-title">
      My Bag
    </div>

    <form action="/cart" method="post" novalidate class="cart">
      <table>
        <thead class="cart__row cart__header">
        <th colspan="2">Product</th>
        <th>Size</th>
        <th class="text-center">QTY</th>
        <th class="text-center">Remove</th>
        <th class="text-right">Price</th>
        </thead>
        <tbody>
        {% for item in cart.items %}
          <tr class="cart__row border-bottom line{{ forloop.index }} cart-flex{% if forloop.first %} border-top{% endif %}">
            <td class="image-container">
              <a href="{{ item.url | within: collections.all }}">
                <img class="cart__image" src="{{ item | img_url: '100x' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td class="info-container">
              <div class="title">
                {{ item.product.title }}
              </div>
              <div class="description">
                {{ item.product.metafields.c_f.short_description }}
              </div>

            </td>
            <td class="size-container">
              <div class="weight">
                {{ item.product.metafields.c_f.weight_info }}
              </div>
            </td>
            <td class="quantity-container">
              <div class="cart__qty quantity-input-container">
                <div data-id="{{ item.variant_id }}" id="bag-page-minus-{{ item.variant_id }}" class="bag-page-minus qty-control minus">-</div>
                <input data-id="{{ item.variant_id }}" class="bag-page-counter counter bag-page-quantity-{{ item.variant_id }}" readonly type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                <div data-id="{{ item.variant_id }}" id="bag-page-plus-{{ cart_item.variant_id }}" class="bag-page-plus qty-control plus">+</div>
              </div>
            </td>
            <td class="remove-container">
              <p class="icon-container">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                  <img src="{{ 'close_icon.svg' | asset_url }}">
                </a>
              </p>
            </td>

            <td class="price-container">
              <div class="price">
                <span id="bag-page-total-price-{{ item.variant_id }}" class="bag-page-total-price">{{ item.line_price | money }}</span><span class="units">CAD</span>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <footer class="cart__footer">
        <div class="grid">
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div class="price-block">
              <div class="row-container">
                <div class="title">{{ 'cart.general.subtotal' | t }}</div>
                <div class="price"><span id="bag-page-sub-price">{{ cart.total_price | money }}</span> CAD</div>
              </div>
            </div>
            <div class="taxes-block">
              <div class="row-container">
                <div class="title">TAXES (13%)</div>
                <div class="price"><span id="bag-page-taxes-price">{{ cart.total_price | times: 0.13 | money }}</span> CAD</div>
              </div>
            </div>
            <div class="shipping-block">
              <div class="row-container">
                <div class="title">SHIPPING</div>
                <div class="price">$0.00 CAD</div>
              </div>
            </div>
            <div class="total-price-block">
              <div class="row-container">
                <div class="title">Total</div>
                <div class="price"><span id="bag-page-total-price">{{ cart.total_price | times: 1.13 | money }}</span> CAD</div>
              </div>
            </div>
            <div class="controls-block">
              <div class="cart-page-to-shop-button">
                <div class="arrow-icon-container">
                  <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
                </div>
                <a href="/">
                  <div class="label">
                    Continue shopping
                  </div>
                </a>
              </div>
              <input type="submit" name="checkout" class="checkout-button" value="{{ 'cart.general.checkout' | t }}">
              {% if additional_checkout_buttons %}
                <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
              {% endif %}
            </div>
          </div>
        </div>
      </footer>
    </form>
  </div>
  <div class="footer-spacer"></div>
</div>

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": false
      }
    ]
  }
{% endschema %}
