<div id="cart-page-main-panel" class="cart-page-container">

  <div class="cart-list-container">
    <div class="cart-title">
      My Bag
    </div>

    <form action="/cart" method="post" novalidate class="cart">
      <table>
        <thead class="cart__row cart__header">
        <th colspan="2">Product</th>
        <th>Size</th>
        <th class="text-center">QTY</th>
        <th class="text-center">Remove</th>
        <th class="text-right">Price</th>
        </thead>
        <tbody>
        {% for item in cart.items %}
          <tr class="cart__row border-bottom line{{ forloop.index }} cart-flex{% if forloop.first %} border-top{% endif %}">
            <td class="image-container">
              <a href="{{ item.url | within: collections.all }}">
                <img class="cart__image" src="{{ item | img_url: '100x' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td class="info-container">
              <div class="title">
                {{ item.product.title }}
              </div>
              <div class="description">
                {{ item.product.metafields.c_f.short_description }}
              </div>

            </td>
            <td class="size-container">
              <div class="weight">
                {{ item.product.metafields.c_f.weight_info }}
              </div>
            </td>
            <td class="quantity-container">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove medium-up--hide">{{ 'cart.general.remove' | t }}</a>
              <div class="cart__qty">
                <label for="updates_{{ item.key }}" class="cart__qty-label">{{ 'cart.label.quantity' | t }}</label>
                <input class="cart__qty-input" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
              </div>
              <input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="{{ 'cart.general.update' | t }}">
            </td>
            <td class="remove-container">
              <p class="icon-container">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                  <img src="{{ 'close_icon.svg' | asset_url }}">
                </a>
              </p>
            </td>

            <td class="price-container">
              <div class="price">
                {{ item.line_price | money }}<span class="units">CAD</span>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <footer class="cart__footer">
        <div class="grid">
          {% if section.settings.cart_notes_enable %}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}
            <div class="cart__shipping">{{ 'cart.general.shipping_at_checkout' | t }}</div>
            <a href="collections/all" class="btn btn--secondary cart__update cart__continue--large small--hide" >{{ 'cart.general.continue_shopping' | t }}</a>
            <input type="submit" name="update" class="btn btn--secondary cart__update cart__update--large small--hide" value="{{ 'cart.general.update' | t }}">
            <input type="submit" name="checkout" class="btn btn--small-wide" value="{{ 'cart.general.checkout' | t }}">
            {% if additional_checkout_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>
        </div>
      </footer>
    </form>
  </div>

</div>

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": false
      }
    ]
  }
{% endschema %}
