<div id="collections-list-page" class="collections-main-container">
  <div id="collections-page-collection-panel" class="collections-page-collection-block">

    <div class="upper-title-block">
      <div class="title">
        Our Collection
      </div>
      <div class="description">
        Explore our line of curated haircare essentials.
      </div>
    </div>

    <div class="home-intro-center-line-left"></div>
    <div class="home-intro-center-line-right"></div>

    <div class="collections-block-container">
      <div id="collection-list-container" class="collection-list">
        {% for product in collection.products %}
          <div class="product-item-container">
            <div class="product-top-side">
              <a href="{{ product.url }}">
                <div class="image-container">
                  <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt }}">
                </div>
              </a>
            </div>
            <div class="product-bottom-side">
              <div class="short-info">
                <div class="name">
                  {{ product.title }}
                </div>
                <div class="descr">
                  {{ product.metafields.c_f.short_description }}
                </div>
              </div>
              <div class="price-info">
                {{ product.price | money }}
              </div>
              <div data-id="{{ product.first_available_variant.id }}" data-url="{{ product.first_available_variant.url }}" class="add-button collection-add-to-bag-button">
                Add to bag
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>


{% schema %}
  {
    "name": "Collection pages",
    "settings": [

    ]
  }
{% endschema %}
