<style>

</style>

<div id="home-slider-panel" class="custom-section-slider-block">

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="collection-slider-main-block">
    <div id="home-collection-slider-container" class="collection-slider-container">
      {% for product in collection.products %}
        <div class="product-item-container products-slider-home">
          <div class="product-info-container">
            <div class="product-left-side">
              <div class="image-container">
                <div class="background-border"></div>
                <img class="product-item-image" src="{{ product.featured_image.src | img_url: '720x' }}" alt="{{ product.featured_image.alt }}">
              </div>

            </div>
            <div class="product-right-side">
              <div class="product-title">{{ product.title }}</div>
              <div class="product-description">{{ product.description }}</div>
              <a href="{{ product.url }}">
                <div class="learn-button">
                <span>
                Learn More
                </span>
                </div>
              </a>

            </div>
          </div>
          <div class="product-short-info">
            <div class="index">0{{ forloop.index }}<span>/</span></div> <div class="title">{{ product.description }}</div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="social-panel-container">

      <div class="social-bar-container">
        <div class="icon-container">
          <img src="{{ 'instagram_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'facebook_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'twitter_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'pinterest_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'youtube_icon.svg' | asset_url }}">
        </div>
      </div>

      <div class="bottom-line"></div>

    </div>

    <div class="carousel-indicator-container">
      {% for product in collection.products %}

        <div class="carousel-indicator">
          <div class="indicator-fill"></div>
        </div>

      {% endfor %}
    </div>

    <div class="mobile-bottom-indicator">
      <div class="line-left"></div>
      <div class="counter-block">
        <span id="current-slide" class="current"></span>
        <span>/</span>
        <span id="all-slides" class="all"></span>
      </div>
    </div>

  </div>



</div>

{% schema %}
  {
    "name": "custom-section-slider",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
        }
    ],
    "presets": [
      {
        "name": "Custom Slider",
        "category": "Image"
      }
    ]
  }
{% endschema %}
