{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">

  <div class="main-footer-container">
    <div class="left-side">
      <div class="foot-info-block contact-us">
        <div class="info-title first-row">
          CONTACT US
        </div>
        <div class="email-item second-row">
          <a href="mailto:hello@voirhaircare.com">hello@voirhaircare.com</a>
        </div>
        <div class="email-item third-row">
          <a href="mailto:press@voirhaircare.com">press@voirhaircare.com</a>
        </div>
        <div class="email-item fourth-row">
          <a href="mailto:order@voirhaircare.com.">order@voirhaircare.com.</a>
        </div>
      </div>
      <div class="foot-info-block information">
        <div class="info-title first-row">
          INFORMATION
        </div>
        <a href="/collections/all">
          <div class="menu-item second-row">
            SHOP
          </div>
        </a>
        <a href="/pages/about">
          <div class="menu-item third-row">
            ABOUT THE BRAND
          </div>
        </a>
        <a href="/pages/contact-us">
          <div class="menu-item fourth-row">
            CONTACT US
          </div>
        </a>
      </div>
      <div class="foot-info-block studio">
        <div class="info-title first-row">

        </div>
        <a href="/pages/launch">
          <div class="menu-item second-row">
            LAUNCH
          </div>
        </a>
        <a href="/pages/general-faq#shipping">
          <div class="menu-item third-row">
            SHIPPING & RETURNS
          </div>
        </a>
        <a href="/pages/general-faq">
          <div class="menu-item fourth-row">
            GENERAL FAQ
          </div>
        </a>

      </div>
      <div class="foot-info-block service">
        <div class="info-title first-row">

        </div>
        <a href="/pages/general-faq#terms">
          <div class="menu-item second-row">
            TERMS OF SERVICE
          </div>
        </a>
        <a href="/pages/general-faq#privacy">
          <div class="menu-item third-row">
            PRIVACY POLICY
          </div>
        </a>
        <a href="/account">
          <div class="menu-item fourth-row">
            MY ACCOUNT
          </div>
        </a>
      </div>
    </div>
    <div class="right-side">
      <div class="title-sub">
        Subscribe
      </div>
      <div id="footer-email-sub-container" class="email-field">
        <form method="get" action="//myshopify.us15.list-manage.com/subscribe/post-json?u=ec3d8253aa5d88f3c73da2325&amp;id=fa4b23a16b&c=?" class="contact-form" id="mailchimp-contact-form" accept-charset="UTF-8">
          <div id="email" class="clearfix large_form">
            <input type="email" value="" placeholder="Email Address" name="EMAIL" id="EMAIL" class="long" size="30">
          </div>
        </form>
        <!--input placeholder="Email Address"-->
        <div id="footer-subscription-arrow" class="arrow-container">
          <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
        </div>
      </div>
      <div class="social-footer-panel">
        <a href="https://www.youtube.com/channel/UCkTxFXJYm4AFT5bmnI67DLA">
          <div class="icon-container">
            <img src="{{ 'youtube_icon.svg' | asset_url }}">
          </div>
        </a>
        <a href="https://www.pinterest.com/voirhaircare/">
          <div class="icon-container">
            <img src="{{ 'pinterest_icon.svg' | asset_url }}">
          </div>
        </a>
        <a href="https://twitter.com/voirhaircare">
          <div class="icon-container">
            <img src="{{ 'twitter_icon.svg' | asset_url }}">
          </div>
        </a>
        <a href="https://www.facebook.com/voirhaircare">
          <div class="icon-container">
            <img src="{{ 'facebook_icon.svg' | asset_url }}">
          </div>
        </a>
        <a href="https://www.instagram.com/voirhaircare/">
          <div class="icon-container">
            <img src="{{ 'instagram_icon.svg' | asset_url }}">
          </div>
        </a>
      </div>
      <div class="tm-block">
        © 2017 Voir Haircare. All rights reserved.
      </div>
      <div class="back-arrow-container">
          <img src="{{ 'arrow_up_icon.svg' | asset_url }}">
      </div>
    </div>
  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
