{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">

  <div class="main-footer-container">
    <div class="left-side">
      <div class="foot-info-block contact-us">
        <div class="info-title first-row">
          CONTACT US
        </div>
        <div class="menu-item second-row">
          1-888-485-5679(VOIR)
        </div>
        <div class="email-item third-row">
          hello@voirhaircare.com
        </div>
        <div class="email-item fourth-row">
          press@voirhaircare.com
        </div>
      </div>
      <div class="foot-info-block information">
        <div class="info-title first-row">
          INFORMATION
        </div>
        <div class="menu-item second-row">
          SHOP
        </div>
        <div class="menu-item third-row">
          ABOUT THE BRAND
        </div>
        <div class="menu-item fourth-row">
          CONTACT US
        </div>
      </div>
      <div class="foot-info-block studio">
        <div class="info-title first-row">

        </div>
        <div class="menu-item second-row">
          THE STUDIO
        </div>
        <div class="menu-item third-row">
          SHIPPING & RETURNS
        </div>
        <a href="/pages/general-faq">
          <div class="menu-item fourth-row">
            GENERAL FAQ
          </div>
        </a>

      </div>
      <div class="foot-info-block service">
        <div class="info-title first-row">

        </div>
        <div class="menu-item second-row">
          TERMS OF SERVICE
        </div>
        <div class="menu-item third-row">
          PRIVACY POLICY
        </div>
        <div class="menu-item fourth-row">
          MY ACCOUNT
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="title-sub">
        Subscribe
      </div>
      <div class="email-field">
        <input placeholder="Email Address">
        <div class="arrow-container">
          <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
        </div>
      </div>
      <div class="social-footer-panel">
        <div class="icon-container">
          <img src="{{ 'youtube_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'pinterest_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'twitter_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'facebook_icon.svg' | asset_url }}">
        </div>
        <div class="icon-container">
          <img src="{{ 'instagram_icon.svg' | asset_url }}">
        </div>
      </div>
      <div class="tm-block">
        © 2017 Voir Haircare. All rights reserved
      </div>
      <div id="back-to-top-arrow" class="back-arrow-container">
          <img src="{{ 'arrow_up_icon.svg' | asset_url }}">
      </div>
    </div>
  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
