{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}

        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
          {% if linklists[child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="{{ child_list_handle }}" data-level="1">
              {{ link.title }}
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__sublist-link">
                    {{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}

            </ul>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link">
              {{ link.title }}
            </a>
          {% endif %}
        </li>

      {% endfor %}

    </ul>
  </nav>

  <header class="site-header border-bottom bright" role="banner">
    <div class="gradient-back-block"></div>
    <div class="site-header-main-container">
      <div class="site-header-logo-container">
        <a href="/" itemprop="url" class="site-header__logo-image">
          <img class="logo-img" src="{{ 'voir-logo-white.png' | asset_url }}" alt="{{ shop.name }}">
          <img class="logo-img-dark" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </div>

      <div class="site-header-navi-container">
        <a href="/collections/all">
          <div class="navi-elem" id="shop-navi-item">
            SHOP
          </div>
        </a>


        <a href="/pages/about">
          <div class="navi-elem" id="about-navi-item">
            ABOUT
          </div>
        </a>

        <a href="/pages/contact-us">
          <div class="navi-elem" id="contact-navi-item">
            CONTACT
          </div>
        </a>
      </div>

      <div class="site-header-menu-container">
        <div class="site-header-menu">
          <div id="my-bag-menu-button" class="menu-elem menu-my-bag">
            <img class="my-bag-icon">
            <div id="header-bag-counter" class="bag-counter">{{ cart.item_count }}</div>
          </div>

          {% if customer %}
            <div id="header-menu-account-button" class="menu-elem account-elem">
              {% if customer.first_name != '' %}
                {{ customer.first_name }}
              {% else %}
                ACCOUNT
              {% endif %}
              <div class="down-arrow"><img></div>
              <div id="account-menu-dropdown-list" class="account-menu-dropdown-list">
                <div class="links-container">
                  <a href="/account">
                    <div class="list-item">
                      My Account
                    </div>
                  </a>
                  <a href="/account/logout">
                    <div class="list-item">
                      Log Out
                    </div>
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <a href="/account/login">
              <div class="menu-elem">
                SIGN IN
              </div>
            </a>
          {% endif %}
        </div>
      </div>

      <div id="site-header-mobile-menu-button" class="site-header-mobile-menu">
        <img class="menu-img" src="{{ 'menu_icon_white.svg' | asset_url }}" alt="{{ shop.name }}">
        <img class="menu-img-dark" src="{{ 'menu_icon.svg' | asset_url }}" alt="{{ shop.name }}">
      </div>

      {%- assign collection = collections[section.settings.collection] -%}

      <div id="shop-additional-menu" class="shop-menu-panel">
        <div class="prod-list-container">
          <a href="/collections/all">
            <div id="shop-menu-collection-list-item" class="list-item">
              Our Collection
            </div>
          </a>
          {% for product in collection.products %}
          <a href="{{ product.url }}">
            <div data-url="{{ product.url }}" class="list-item shop-menu-list-item-product">
              {{ product.metafields.c_f.menu_name }}
            </div>
          </a>
          {% endfor %}
          <a href="/products/studio-set">
            <div data-url="/products/studio-set" class="list-item shop-menu-list-item-product">
              The Complete Collection
            </div>
          </a>
        </div>

      </div>

    </div>

  </header>

  <div id="social-panel-header" class="social-panel-container">

    <div class="social-bar-container">
      <div class="icon-container ">
        <a target="_blank" {% if product.metafields.c_f.instagram_link %} href="{{ product.metafields.c_f.instagram_link }}" {% else %} href="https://www.instagram.com/voirhaircare/" {% endif %} >
          <img src="{{ 'instagram_icon.svg' | asset_url }}">
        </a>
      </div>
      <div class="icon-container">
        <a target="_blank" {% if product.metafields.c_f.facebook_link %} href="{{ product.metafields.c_f.facebook_link }}" {% else %} href="https://www.facebook.com/voirhaircare {% endif %} ">
          <img src="{{ 'facebook_icon.svg' | asset_url }}">
        </a>
      </div>
      <div class="icon-container">
        <a target="_blank" href="https://twitter.com/voirhaircare">
          <img src="{{ 'twitter_icon.svg' | asset_url }}">
        </a>
      </div>
      <div class="icon-container">
        <a target="_blank" href="https://www.pinterest.com/voirhaircare/">
          <img src="{{ 'pinterest_icon.svg' | asset_url }}">
        </a>
      </div>
      <div class="icon-container">
        <a target="_blank" href="https://www.youtube.com/channel/UCdYK8aiJppxvhsdbcdISvEg">
          <img src="{{ 'youtube_icon.svg' | asset_url }}">
        </a>
      </div>
    </div>

    <div id="social-panel-line" class="bottom-line"></div>

  </div>

  <div id="my-bag-container" class="my-bag-modal">
    <div class="hide-layer"></div>
    <div class="my-bag-panel">
      <div class="upper-panel">
        <div class="title-container">
          <div class="title">
            My Bag
          </div>
          <div class="items-count">
            <span id="cart-total-items-counter">{{ cart.item_count }}</span> Item(s)
          </div>
        </div>

        <div id="bag-close-button" class="close-button">
          <img src="{{ 'close_icon.svg' | asset_url  }}">
        </div>
      </div>
      <div class="items-list-container">
          {% for cart_item in cart.items %}
            <div id="bag-item-{{ cart_item.variant_id }}" class="bag-item">
              <div class="image-container">
                <img src="{{ cart_item.image | img_url: 'small' }}">
              </div>
              <div class="info-container">
                <div class="upper-part">
                  <div class="title">
                    {{ cart_item.title }}
                  </div>
                  <div class="description">
                    {{ cart_item.product.metafields.c_f.short_description }}
                  </div>
                </div>
                <div class="lower-part">
                  <div class="count-container">
                    <div data-id="{{ cart_item.variant_id }}" id="cart-item-minus-{{ cart_item.variant_id }}" class="cart-item-minus qty-control minus">-</div>
                    <div data-id="{{ cart_item.variant_id }}" id="cart-item-quantity-{{ cart_item.variant_id }}" class="cart-item-counter counter">{{ cart_item.quantity }}</div>
                    <div data-id="{{ cart_item.variant_id }}" id="cart-item-plus-{{ cart_item.variant_id }}" class="cart-item-plus qty-control plus">+</div>
                  </div>
                  <div class="total-price">
                    <div class="units">
                      CAD
                    </div>
                    <div class="price-check">
                      <span id="cart-item-total-price-{{ cart_item.variant_id }}" class="cart-item-total-price">{{ cart_item.line_price | money }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <div class="bag-bottom-panel">
        <div class="price-container">
          <div class="info">
            <div class="total">
              Subtotal
            </div>
            <div class="taxes">
              Taxes calculated at checkout
            </div>
          </div>
          <div class="price">
            <div class="units">
              CAD
            </div>
            <div class="count">
              <span id="cart-total-price">{{ cart.total_price | money }}</span>
            </div>
          </div>
        </div>
        <div class="button-container">

          <div class="checkout-button">
            <a href="/cart">
              CHECKOUT
            </a>
          </div>

        </div>
        <div class="bag-shipping-container">
          <div class="info">FREE SHIPPING & RETURNS IN CANADA</div>
        </div>
      </div>
    </div>
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
</div>
<div class="modal-container">
  <div id="mobile-header-menu-panel" class="mobile-header-menu-panel">
    <div id="mobile-menu-close-button" class="close-button"><img src="{{ 'close_icon_white.svg' | asset_url  }}"></div>
    <div class="menu-container">
      <div class="information-block">
        <div class="title">
          INFORMATION
        </div>
        <div class="list-container">
          <div id="mobile-menu-shop-button" class="list-item">
            SHOP
            <div class="down-arrow">
              <img>
            </div>
          </div>
          <div id="mobile-menu-shop-sub-menu" class="list-sub-menu">
            <a href="/collections/all">
              <div class="sub-menu-item">
                Our Collection
              </div>
            </a>
            {% for product in collection.products %}
              <a href="{{ product.url }}">
                <div class="sub-menu-item">
                  {{ product.metafields.c_f.menu_name }}
                </div>
              </a>
            {% endfor %}
            <a href="/products/studio-set">
              <div class="sub-menu-item">
                The Complete Collection
              </div>
            </a>
            </div>
          <a href="/pages/about">
            <div id="mobile-menu-about-button" class="list-item">ABOUT THE BRAND</div>
          </a>
          <a href="/pages/contact-us">
            <div id="mobile-menu-contact-button" class="list-item">CONTACT US</div>
          </a>
          <a href="/account">
            <div class="list-item">MY ACCOUNT</div>
          </a>
        </div>
      </div>
      <div class="bottom-block">
        <a href="/pages/general-faq#faq">
          <div class="bottom-item">GENERAL FAQ</div>
        </a>
        <a href="/pages/general-faq#shipping">
          <div class="bottom-item">SHIPPING & RETURNS</div>
        </a>
        <a href="/pages/general-faq#privacy">
          <div class="bottom-item">PRIVACY POLICY</div>
        </a>
        <a href="/pages/general-faq#terms">
          <div class="bottom-item">TERMS OF SERVICE</div>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
