{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}

        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
          {% if linklists[child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="{{ child_list_handle }}" data-level="1">
              {{ link.title }}
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__sublist-link">
                    {{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}

            </ul>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link">
              {{ link.title }}
            </a>
          {% endif %}
        </li>

      {% endfor %}

    </ul>
  </nav>

  <header class="site-header border-bottom bright" role="banner">

    <div class="site-header-main-container">

      <div class="site-header-logo-container">
        <a href="/" itemprop="url" class="site-header__logo-image">
          <img class="logo-img" src="{{ 'voir-logo-white.png' | asset_url }}" alt="{{ shop.name }}">
          <img class="logo-img-dark" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </div>

      <div class="site-header-navi-container">
        <div class="navi-elem" id="shop-navi-item">
          SHOP
        </div>
        <div class="navi-elem">
          ABOUT
        </div>
        <div class="navi-elem">
          CONTACT
        </div>
      </div>

      <div class="site-header-menu-container">
        <div class="site-header-menu">
          <div id="my-bag-menu-button" class="menu-elem">
            MY BAG(0)
          </div>
          <div class="menu-elem">
            SIGN UP
          </div>
          <div class="menu-elem">
            THE STUDIO
          </div>
        </div>
      </div>

      <div class="site-header-mobile-menu">
        <img class="menu-img" src="{{ 'menu_icon_white.svg' | asset_url }}" alt="{{ shop.name }}">
        <img class="menu-img-dark" src="{{ 'menu_icon.svg' | asset_url }}" alt="{{ shop.name }}">
      </div>

      {%- assign collection = collections[section.settings.collection] -%}

      <div id="shop-additional-menu" class="shop-menu-panel">
        <div class="prod-list-container">
          <div class="list-item">
            Our Collection
          </div>
          {% for product in collection.products %}
            <div class="list-item">
              {{ product.title }}
            </div>
          {% endfor %}
          <div class="list-item">
            Studio Set
          </div>
        </div>

        <div class="home-intro-center-line-left"></div>
        <div class="home-intro-center-line-right"></div>

      </div>

    </div>

  </header>

  <div id="my-bag-container" class="my-bag-modal">
    <div class="hide-layer"></div>
    <div class="my-bag-panel">
      <div class="upper-panel">
        <div class="title-container">
          <div class="title">
            My Bag
          </div>
          <div class="items-count">
            <span>1</span> Item(s)
          </div>
        </div>

        <div id="bag-close-button" class="close-button">
          <img src="{{ 'close_icon.svg' | asset_url  }}">
        </div>
      </div>
      <div class="items-list-container">

      </div>
      <div class="bag-bottom-panel">
        <div class="price-container">
          <div class="info">
            <div class="total">
              Subtotal
            </div>
            <div class="taxes">
              Taxes calculated at checkout
            </div>
          </div>
          <div class="price">
            <div class="units">
              CAD
            </div>
            <div class="count">
              $35.00
            </div>
          </div>
        </div>
        <div class="button-container">
          <div class="view-bug-button">
            <span>VIEW MY BAG</span>
          </div>
          <div class="checkout-button">
            <span>CHECKOUT</span>
          </div>
        </div>
        <div class="shipping-container">
          <div class="info">FREE SHIPPING & RETURNS IN CANADA</div>
        </div>
      </div>
    </div>
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
