<div id="product-page-panel" class="product-page-main-container">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}

  {%- assign product_image_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--one-half' -%}

  <div class="product-page-intro-panel">
    <div class="product-page-to-shop-button">
      <div class="arrow-icon-container">
        <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
      </div>
      <a href="/">
        <div class="label">
          TO SHOP
        </div>
      </a>
    </div>
    <div class="product-intro-container">
      <div class="intro-left-side">
        {%- assign featured_img_src = product.featured_image.src -%}
        <div class="product-image-container">
          <div class="border"></div>
          {% if  product.title != 'Studio Set'%}
            <img class="reel reel-main-image" src="{{ featured_img_src | img_url: '720x' }}" id="my-picture" data-clickfree="false" data-cursor="pointer"  data-images="{% for image in product.images %}{% if forloop.first == false %}{{ image.src | img_url: '300x300' }},{% if forloop.last == true %}{{ image.src | img_url: '300x300' }}{% endif %}{% endif %}{% endfor %}"  >
            <div id="reel-controls" class="reel-controls-container">
              <div id="reel-prev-button" class="prev-button"><img></div>
              <div id="reel-next-button" class="next-button"><img></div>
            </div>
          {% else %}
            <img src="{{ featured_img_src | img_url: '720x' }}" class="featured-image">
          {% endif %}
        </div>
      </div>

      <div class="intro-right-side">
        <div class="product-info-container">

          <div class="product-name">{{ product.title }}</div>

          <div class="product-short-description">{{ product.metafields.c_f.short_description }}</div>

          <div class="product-edge-line"></div>

          <div class="reviews-row">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>

          <div class="product-price-row">
            <div class="size-info"><span>100mL</span> / <span>3.4 fl.oz.</span></div>
            <div class="price-info">{{ current_variant.price | money }} <span>CAD</span></div>
          </div>

          <div class="product-edge-line"></div>

          <div class="product-form-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

            <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">

              <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }}
                      - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
              </select>

              <div class="product-form-quantity">
                <div class="label">QTY:</div>
                <div class="quantity-input-container">
                  <div id="qty-minus" class="qty-control minus">-</div>
                  <input type="text" id="Quantity" name="quantity" value="1" min="1" class="product-form__input">
                  <div id="qty-plus" class="qty-control plus">+</div>
                </div>
              </div>

              <div class="product-form-button-submit">
                <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="product-btn-submit">
                  <span id="AddToCartText-{{ section.id }}">
                    ADD TO BAG
                  </span>
                </button>
              </div>
            </form>

          </div>

          <div class="product-edge-line"></div>

          <div class="detail-info-row">
            <div class="info-tabs">
              <div id="info-tab-description" class="tab active">
                DESCRIPTION
              </div>
              <div id="info-tab-ingredients" class="tab">
                INGREDIENTS
              </div>
              <div id="info-tab-how-to-use" class="tab">
                HOW TO USE
              </div>
            </div>
            <div class="info-container">
              Radiant and uplifting, our luminous hair oil is like liquid sunshine. The light golden elixir is packed with fortifying natural oils from rosehip, avocado, and jojoba that tame frizz and nourish each
              <span id="detail-add-info-block" class="additional-info">strand for hair that’s instantly soft, smooth, and shining to perfection. Use it as a quick fix for unruly flyaways, a detangler, or pre-shampoo treatment, or leave it on overnight for deep conditioning—a few drops will go a long way.</span>
              <span id="detail-add-info-more" class="view-toggle active">VIEW MORE</span>
              <span id="detail-add-info-less" class="view-toggle">VIEW LESS</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="product-page-ingredients-panel" class="product-page-ingredients {% if  product.title == 'Studio Set'%} hidden-panel {% endif %}">
  <div class="product-page-to-shop-button">
    <div class="arrow-icon-container">
      <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
    </div>
    <a href="/">
      <div class="label">
        TO SHOP
      </div>
    </a>
  </div>
  <div class="ingredients-title">
    Ingredients Spotlight
  </div>

  <div id="product-ingredients-container" class="ingredients-container">
    <!--div id="test-pointer" style="position: absolute; background: red; height: 5px; width: 5px; z-index:100; transform: translate(-50%,-50%);"></div-->
    <div id="product-image-container" class="image-container">
      <div class="illustrations-container">
        <img id="product-ingredients-first-illustration" class="first illustration" src="{{ 'oil-jojoba-transparent.png' | asset_url }}" >
        <img id="product-ingredients-second-illustration" class="second illustration" src="{{ 'oil-soybean-transparent.png' | asset_url }}" >
        <img id="product-ingredients-third-illustration" class="third illustration" src="{{ 'oil-sunflower-transparent.png' | asset_url }}" >
      </div>
      <img id="product-ingredients-image" src="{{ product.featured_image.src | img_url: '720x' }}" class="ingredients-image">
    </div>
    <div id="product-ingredients-illustrations-container" class="ingredients-panel">
      <div class="ingredient-pin to-left first-pin">
        <div data-id="first" class="icon ingredients-pin-icon">
          <div class="hover-opacity"></div>
          <img>
        </div>
        <div class="mid-line"></div>
        <div class="description">
          <div id="first-pin-title" class="title">
            Soybean-Based Biolipid Complex
          </div>
          <div id="first-pin-details" class="details">
            A plant-based conditioner that coats each strand for a sleek, frizz-free finish.
          </div>
        </div>
      </div>
      <div class="ingredient-pin to-right second-pin">
        <div data-id="second" class="icon ingredients-pin-icon">
          <div class="hover-opacity"></div>
          <img>
        </div>
        <div class="mid-line"></div>
        <div class="description">
          <div id="second-pin-title" class="title">
            Sunflower Oil and Phospholipids
          </div>
          <div id="second-pin-details" class="details">
            Nutrient-packed fortifiers that condition
            hair fibres to leave your tresses looking
            soft and smooth.
          </div>
        </div>
      </div>
      <div class="ingredient-pin to-left third-pin">
        <div data-id="third" class="icon ingredients-pin-icon">
          <div class="hover-opacity"></div>
          <img>
        </div>
        <div class="mid-line"></div>
        <div class="description">
          <div id="third-pin-title" class="title">
            Natural and Exotic Oils
          </div>
          <div id="third-pin-details" class="details">
            An array of nourishing oils from jojoba, buriti, avocado, and more for unparalleled softness and shine.
          </div>
        </div>
      </div>
      <div id="ingredients-full-list-button" class="full-list">
        Full Ingredients List
      </div>
    </div>
  </div>

  <div class="ingredients-description-mobile">
    <div id="product-ingredients-mobile-title" class="title">
      Sunflower Oil and Phospholipid
    </div>
    <div class="border-line"></div>
    <div id="product-ingredients-mobile-details" class="ingredients-details">
      Nutrient-packed fortifiers that condition hair fibres to leave your tresses looking soft and smooth
    </div>
  </div>

  <div class="side-line-left"></div>
  <div class="side-line-right"></div>
</div>

<div id="product-page-use-panel" class="product-page-how-to-use {% if  product.title == 'Studio Set'%} hidden-panel {% endif %}">
  <div class="product-page-to-shop-button">
    <div class="arrow-icon-container">
      <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
    </div>
    <a href="/">
      <div class="label">
        TO SHOP
      </div>
    </a>
  </div>
  <div class="title-block">
    How to Use
  </div>

  <div class="info-block">
    <div class="left-side">
      <div class="video-container">
        <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="ingredients-video" controls>
          <source src="https://thenewcode.com/assets/videos/polina.webm" type="video/webm">
          <source src="https://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="right-side">
      <div class="info-panel">
        <div class="title">
          {{ product.title }}
        </div>
        <div class="description">
          {{ product.metafields.c_f.short_description }}
        </div>
        <div class="border-line"></div>
        <div class="detail-description">
          <div id="product-page-use-tabs" class="tabs-row">
            <div id="first-step-tab" class="tab active">step 1</div>
            <div id="second-step-tab" class="tab">step 2</div>
            <div id="third-step-tab" class="tab">step 3</div>
          </div>
          <div id="product-page-use-descriptions" class="details-row">
            <div id="first-step-description" class="description-block active">
              1. Dispense a small amount onto dry hair and work from roots to tips.
            </div>
            <div id="second-step-description" class="description-block">
              2. Apply to wet hair to detangle.
            </div>
            <div id="third-step-description" class="description-block">
              3. For deep conditioning, apply generously to damp hair and set with a hot towel for 20 minutes prior to shampooing.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="side-line-left"></div>
  <div class="side-line-right"></div>
</div>

<div id="product-page-art-panel" class="product-page-about-art {% if  product.title == 'Studio Set'%} hidden-panel {% endif %}">
  <div class="about-art-container">
    <div class="art-back" style="background-image: url('{{ product.metafields.c_f.art_image_name | asset_url }}');">
    </div>
    <div class="art-description-container">
      <div class="icon"><img src="{{ 'shipping_icon.svg' | asset_url }}"></div>
      <div class="art-title">About the Artwork</div>
      <div class="art-description">
        Inspired by the radiance of the sun, we created a vibrant oil painting for the packaging of our high-shine hair oil
      </div>
    </div>
  </div>
</div>

<div id="product-page-reviews-panel" class="product-page-reviews">
  <div class="reviews-container">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
</div>

<div id="product-page-collection-panel" class="product-page-collection-block">

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="upper-title-block">
    <div class="title">
      Our Collection
    </div>
    <div class="description">
      Explore our line of curated haircare essentials.
    </div>
  </div>

  <div class="home-intro-center-line-left"></div>
  <div class="home-intro-center-line-right"></div>

  <div class="collections-block-container">
    <div class="collection-list">
      {% for product in collection.products %}
        <div class="product-item-container">
          <div class="product-top-side">
            <div class="image-container">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt }}">
            </div>
          </div>
          <div class="product-bottom-side">
            <div class="short-info">
              <div class="name">
                {{ product.title }}
              </div>
              <div class="descr">
                {{ product.description }}
              </div>
            </div>
            <div class="price-info">
              {{ product.price | money }}
            </div>
            <div data-id="{{ product.first_available_variant.id }}" class="add-button collection-add-to-bag-button">
              Add to bag
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

</div>

<div class="product-page-footer-spacer"></div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}
