<div id="product-page-panel" class="product-page-main-container">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}


  <div class="product-page-intro-panel">
    <div class="product-page-to-shop-button">
      <div class="arrow-icon-container">
        <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
      </div>
      <a href="/collections/all">
        <div class="label">
          TO SHOP
        </div>
      </a>
    </div>
    <div class="product-intro-container">
      <div class="intro-left-side">
        {%- assign featured_img_src = product.featured_image.src -%}
        <div class="product-image-container">
          <div class="border"></div>
          {% if  product.title == 'Studio Set'%}
            <img src="{{ featured_img_src | img_url: '720x' }}" class="featured-image studio-set">
          {% else %}
            <img class="reel reel-main-image" src="{{ product.images[1].src | img_url: '720x'}}" id="my-picture" data-clickfree="false" data-cursor="pointer"  data-images="{% for image in product.images %}{% if forloop.first == false %}{{ image.src | img_url: '600x600' }},{% if forloop.last == true %}{{ image.src | img_url: '600x600' }}{% endif %}{% endif %}{% endfor %}"  >
            <div id="reel-controls" class="reel-controls-container">
              <div id="reel-prev-button" class="prev-button"><img></div>
              <div id="reel-zoom-button" class="zoom-button"><img></div>
              <div id="reel-next-button" class="next-button"><img></div>
            </div>
          {% endif %}
        </div>
        <div id="product-image-container-zoom" class="product-image-container-zoom">
          <img id="product-zoomed-image">
        </div>
      </div>

      <div class="intro-right-side">
        <div class="product-info-container">

          <div class="product-name">{{ product.title }}</div>

          <div class="product-short-description">{{ product.metafields.c_f.short_description }}</div>

          <div class="product-edge-line"></div>

          <div id="product-page-intro-reviews-row" class="reviews-row">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>

          <div class="product-price-row">
            <div class="size-info">{{ product.metafields.c_f.weight_info }}</div>
            <div class="price-info">{{ current_variant.price | money }} <span>CAD</span></div>
          </div>

          <div class="product-edge-line"></div>

          <div class="product-form-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

            <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">

              <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }}
                      - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
              </select>

              <div class="product-form-quantity">
                <div class="label">QTY:</div>
                <div class="quantity-input-container">
                  <div id="qty-minus" class="qty-control minus">-</div>
                  <input type="text" id="Quantity" name="quantity" value="1" min="1" class="product-form__input">
                  <div id="qty-plus" class="qty-control plus">+</div>
                </div>
              </div>

              <div class="product-form-button-submit">
                <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="product-btn-submit event-prevent-class">
                  <span id="AddToCartText-{{ section.id }}">
                    COMING SOON
                  </span>
                </button>
              </div>
            </form>

          </div>

          <div class="product-edge-line"></div>

          <div class="detail-info-row">
            <div class="info-tabs">
              <div id="info-tab-description" class="tab active">
                DESCRIPTION
              </div>
              {% if  product.title == 'Studio Set'%}
                <div id="studio-inside-tab-ingredients" class="tab">
                  WHAT'S INSIDE
                </div>
              {% else %}
                <div id="info-tab-ingredients" class="tab">
                  INGREDIENTS
                </div>
                <div id="info-tab-how-to-use" class="tab">
                  HOW TO USE
                </div>
              {% endif %}
            </div>
            <div id="product-intro-main-info-container" class="info-container active">
              {{ product.metafields.c_f.romance_description }}
              {% if product.metafields.c_f.romance_description_spart %}
              <span id="detail-add-info-block" class="additional-info">{{ product.metafields.c_f.romance_description_spart }}</span>
              <span id="detail-add-info-more" class="view-toggle active">VIEW MORE</span>
              <span id="detail-add-info-less" class="view-toggle">VIEW LESS</span>
              {% endif %}
            </div>
            <div id="product-intro-what-inside-container" class="info-container">
                {{ product.metafields.c_f.what_inside }}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="product-page-ingredients-panel" class="product-page-ingredients {% if  product.title == 'Studio Set'%} hidden-panel {% endif %}">
  <div class="product-page-to-shop-button">
    <div class="arrow-icon-container">
      <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
    </div>
    <a href="/collections/all">
      <div class="label">
        TO SHOP
      </div>
    </a>
  </div>
  <div class="ingredients-title">
    Ingredients Spotlight
  </div>

  <div id="product-ingredients-container" class="ingredients-container">
    <!--div id="test-pointer" style="position: absolute; background: red; height: 5px; width: 5px; z-index:100; transform: translate(-50%,-50%);"></div-->
    <div id="product-image-container" class="image-container">
      <div class="illustrations-container">
        <img id="product-ingredients-first-illustration" class="first illustration" src="{{ product.metafields.c_f.first_illustration | asset_url }}" >
        <img id="product-ingredients-second-illustration" class="second illustration" src="{{ product.metafields.c_f.second_illustration | asset_url }}" >
        <img id="product-ingredients-third-illustration" class="third illustration" src="{{ product.metafields.c_f.third_illustration | asset_url }}" >
      </div>
      <img id="product-ingredients-image" src="{{ product.featured_image.src | img_url: '720x' }}" class="ingredients-image">
    </div>
    <div id="product-ingredients-illustrations-container" class="ingredients-panel">
      <div class="ingredient-pin to-left first-pin">
        <div data-id="first" class="icon ingredients-pin-icon">
          <div class="hover-opacity"></div>
          <img>
        </div>
        <div class="mid-line"></div>
        <div class="description">
          <div id="first-pin-title" class="title">
            {{ product.metafields.c_f.first_ingredient_title }}
          </div>
          <div id="first-pin-details" class="details">
            {{ product.metafields.c_f.first_ingredient_description }}
          </div>
        </div>
      </div>
      <div class="ingredient-pin to-left second-pin">
        <div data-id="second" class="icon ingredients-pin-icon">
          <div class="hover-opacity"></div>
          <img>
        </div>
        <div class="mid-line"></div>
        <div class="description">
          <div id="second-pin-title" class="title">
              {{ product.metafields.c_f.second_ingredient_title }}
          </div>
          <div id="second-pin-details" class="details">
              {{ product.metafields.c_f.second_ingredient_description }}
          </div>
        </div>
      </div>
      <div class="ingredient-pin to-right third-pin">
        <div data-id="third" class="icon ingredients-pin-icon">
          <div class="hover-opacity"></div>
          <img>
        </div>
        <div class="mid-line"></div>
        <div class="description">
          <div id="third-pin-title" class="title">
              {{ product.metafields.c_f.third_ingredient_title }}
          </div>
          <div id="third-pin-details" class="details">
              {{ product.metafields.c_f.third_ingredient_description }}
          </div>
        </div>
      </div>
      <div id="ingredients-full-list-button" class="full-list">
        Full Ingredients List
      </div>
    </div>
  </div>

  <div class="ingredients-description-mobile">
    <div id="product-ingredients-mobile-title" class="title">
      Sunflower Oil and Phospholipid
    </div>
    <div class="border-line"></div>
    <div id="product-ingredients-mobile-details" class="ingredients-details">
      Nutrient-packed fortifiers that condition hair fibres to leave your tresses looking soft and smooth
    </div>
  </div>

  <div class="side-line-left"></div>
  <div class="side-line-right"></div>
</div>

<div id="product-page-use-panel" class="product-page-how-to-use {% if  product.title == 'Studio Set'%} hidden-panel {% endif %}">
  <div class="product-page-to-shop-button">
    <div class="arrow-icon-container">
      <img src="{{ 'arrow_right_icon.svg' | asset_url }}">
    </div>
    <a href="/collections/all">
      <div class="label">
        TO SHOP
      </div>
    </a>
  </div>
  <div class="title-block">
    How to Use
  </div>

  <div class="info-block">
    <div id="product-page-use-descriptions-videos" class="left-side">
      <div id="how-to-use-description-video" class="video-container active">
        <iframe src="https://player.vimeo.com/video/{{ product.metafields.c_f.how_to_use_video_link }}" width="650" height="366" frameborder="0"></iframe>
        {#<iframe id="first-step-description-video-frame" src="{{ product.metafields.c_f.how_to_use_video_link }}"></iframe>#}
      </div>
    </div>
    <div class="right-side">
      <div class="info-panel">
        <div class="title">
          {{ product.title }}
        </div>
        <div class="description">
          {{ product.metafields.c_f.short_description }}
        </div>
        <div class="border-line"></div>
        <div class="detail-description">
          <div id="product-page-use-tabs" class="tabs-row">
            <div id="first-step-tab" class="tab active">step 1</div>
            <div id="second-step-tab" class="tab">step 2</div>
            {% if product.metafields.c_f.use_step_3 %}
              <div id="third-step-tab" class="tab">step 3</div>
            {% endif %}
          </div>
          <div id="product-page-use-descriptions" class="details-row">
            <div id="first-step-description" class="description-block active">
              {{ product.metafields.c_f.use_step_1 }}
            </div>
            <div id="second-step-description" class="description-block">
              {{ product.metafields.c_f.use_step_2 }}
            </div>
            {% if product.metafields.c_f.use_step_3 %}
            <div id="third-step-description" class="description-block">
              {{ product.metafields.c_f.use_step_3 }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="side-line-left"></div>
  <div class="side-line-right"></div>
</div>

<div id="product-page-art-panel" class="product-page-about-art {% if  product.title == 'Studio Set'%} hidden-panel {% endif %}">
  <div class="about-art-container">
    <div class="art-back" style="background-image: url('{{ product.metafields.c_f.art_image_name | asset_url }}');">
    </div>
    <div class="art-description-container">
      <div class="art-title">About the Artwork</div>
      <div class="subhead">
          {{ product.metafields.c_f.artwork_subhead }}
      </div>
      <div class="art-description">
          {{ product.metafields.c_f.about_artwork }}
      </div>
    </div>
  </div>
</div>

<div id="product-page-reviews-panel" class="product-page-reviews">
  <div class="reviews-container">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    <div class="for-first-review-container">Be the first to review this product</div>
  </div>
</div>

<div id="product-page-collection-panel" class="product-page-collection-block">

  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign studio_set_product = collections[section.settings.collection_studio].products[0] -%}

  <div class="upper-title-block">
    <div class="title">
      Our Collection
    </div>
    <div class="description">
      Explore our line of curated haircare essentials.
    </div>
  </div>

  <div class="home-intro-center-line-left"></div>
  <div class="home-intro-center-line-right"></div>

  <div class="collections-block-container">
    <div class="collection-list">
      {% for product_col in collection.products %}
        {% if product_col.title != product.title %}
          <div class="product-item-container">
            <div class="product-top-side">
              <a href="{{ product_col.url }}">
                <div class="image-container">
                  <img src="{{ product_col.featured_image.src | img_url: 'large' }}" alt="{{ product_col.featured_image.alt }}">
                </div>
              </a>
            </div>
            <div class="product-bottom-side">
              <div class="short-info">
                <div class="name">
                  {{ product_col.title }}
                </div>
                <div class="descr">
                  {{ product_col.metafields.c_f.short_description }}
                </div>
              </div>
              <div class="price-info">
                {{ product_col.price | money }}
              </div>
              <div data-id="{{ product_col.first_available_variant.id }}" data-url="{{ product_col.first_available_variant.url }}" class="add-button collection-add-to-bag-button">
                Coming soon
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if  product.title != 'Studio Set'%}
        <div class="product-item-container">
          <div class="product-top-side">
            <a href="{{ studio_set_product.url }}">
              <div class="image-container">
                <img src="{{ studio_set_product.featured_image.src | img_url: 'large' }}" alt="{{ studio_set_product.featured_image.alt }}">
              </div>
            </a>
          </div>
          <div class="product-bottom-side">
            <div class="short-info">
              <div class="name">
                  {{ studio_set_product.title }}
              </div>
              <div class="descr">
                  {{ studio_set_product.metafields.c_f.short_description }}
              </div>
            </div>
            <div class="price-info">
                {{ studio_set_product.price | money }}
            </div>
            <div data-id="{{ studio_set_product.first_available_variant.id }}" data-url="{{ studio_set_product.first_available_variant.url }}" class="add-button collection-add-to-bag-button">
              Coming soon
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

</div>

<div class="product-page-footer-spacer"></div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id": "collection_studio",
        "type": "collection",
        "label": "Collection for studio set"
      }
    ]
  }
{% endschema %}
